/*
  ______________________________
    Google Fonts to work with:
      --------------------
font-family: 'Lobster', cursive;
font-family: 'Questrial', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Playball', cursive;
font-family: 'Hind', sans-serif;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Ewert', cursive;
font-family: 'Federant', cursive;
font-family: 'Muli', sans-serif;


  ______________________________
      Colors to work with:
        gray = #808B96
        green = #48C9B0
        lime = #6CEE42
        grey = #BCC6C7
*/
body {
  /*background-image: url("/images/white-gray-bckg.jpg");*/
  background-color: whitesmoke;
  /*background-size: contain;*/
}

.box-shadow {
  box-shadow: 5px 0 10px grey;
}

.jumbotron {
  margin-bottom: 0;
  background: #3D7EAA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  color: white;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 1px 5px rgba(0,0,0,.);
}

.jumbotron h1 {
  font-size: 10em;
  text-shadow: 4px 2px #4482a8;
  text-align: center;
}

.jumbotron h3 {
  text-align: center;
  letter-spacing: .5em;
}

.nav-wrap {
  height: 50px;
  width: 100%;
  display: table;
  background-color: white;
  opacity: .9;
}

.navbar {
  height: 50px;
  width: 100%;
}

#clickBrandName {
  font-size: 1.7em;
  font-family: 'Lobster';
  margin-left: 10px;
  text-shadow: 0 2px 2px #1f2f52;
  color: white;
}

#clickBrandName:hover {
  text-shadow: 0 0 2px #1f2f52;
  margin-top: 1px;
}

#logo {
  margin-top: -15px;
}

#github-link {
  font-family: 'Lobster';
  font-size: 1.6em;
  margin-right: 10px;
  margin-left: 40px;
  text-shadow: 0 2px 2px #1f2f52;
  color: white;
}

#github-link:hover {
  margin-top: 1px;
  padding-bottom: 14px;
  text-shadow: 0 0 2px #1f2f52;
}

.title-center {
  font-family: 'Federant';
  color: #4f384b;
  text-align: center;
  letter-spacing: -3px;
  font-size: 3.5em;
  width: 600px;
  margin: .7em auto .6em auto;
}

label {
  text-transform: uppercase;
  color: gray;
  font-size: .83em;
}

select {
  width: 150px;
  height: 2em;
}

.border-p,
.body-padding {
  padding: 5px 30px;
}

/*.panel {
  box-shadow: 0 2px 3px black;
  border: 1px solid #393D41;
}*/

.hover-shadow {
  box-shadow: 0 2px 1px lightgray;
  background-color: white;
  position: relative;
}

.hover-shadow:hover {
  box-shadow: 0 3px 7px gray;
  position: relative;
  top: -1px;
}

.well {
  margin: 5px;
  border-radius: 1px;
  border: none;
}

.well-hr {
  height: 1px;
  background: darkgray;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, darkgray));
}

#update-delete-stylist {
  height: 530px;
}

#cutType {
  width: 100%;
}

.panel-title {
  text-align: center;
  font-family: 'Muli';
  padding: 10px;
  font-size: 1.4em;
  letter-spacing: 0.13em;
}

#top-title {
  font-size: 16px;
  color: darkgray;
  text-shadow: none;
  letter-spacing: .1em;
  border-bottom: 1px solid dimgray;
  padding-bottom: 10px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

#bottom-title {
  letter-spacing: .24em;
  font-size: 24px;
  color: black;
  text-shadow: none;
  padding-top: 10px;
}

#whole-panel-head {
  padding: 30px 15px;
}

#barbers {
  height: 200px;
}

/*.well h3 {
  text-align: center;
  font-size: 1.7em;
  line-height: 1em;
}*/

.stylist-labels {
  font-weight: 500;
}

#stylist-info ol {
  padding: 8px 0 0 65px;
  max-height: 78px;
  overflow: scroll;
}

#stylist-info li {
  float: left;
  width: 170px;
  padding-left: 10px;
  font-family: 'Hind';
}

#stylist-info li:last-child {
  margin-bottom: 10px;
}

#add-barber {
  font-family: 'Lobster';
  text-align: center;
  color: white;
  text-shadow: 0 4px 10px black;
  font-size: 2.25em;
  line-height: 1em;
}

.top-margin {
  margin-top: 5em;
}

.add-bottom-margin {
  margin-bottom: 10px;
}

.modify-border {
  border: 1px solid #ccc;
  border-radius: 0px;
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
  box-shadow: none;
}

.glyphicon {
  vertical-align: text-top;
  margin-left: .2em;
}

.hr-index-barbers {
  width: 300px;
}

#barber-service-index,
#barber-orphan-index {
  text-align: center;
}

#barber-orphan-index {
  padding-top: 5px;
  margin-bottom: -10px;
}

#barber-list {
  height: 61%;
  padding-top: 5px;
  overflow: scroll;
}

.list-group-item {
  background-color: transparent;
  padding-bottom: 3px;
  padding-left: 25px;
  margin-left: 55px;
  border: none;
}

#barber-list li {
  font-family: 'Hind';
  padding-top: 1px;
}

#barber-list a {
  margin-left: 1em;
}

#new-client-index {
  padding: 5px 30px;
}

#label-margin-top {
  margin-top: 15px;
}

.badge {
  position: absolute;
  left: 230px;
  width: 28px;
  margin-top: -5px;
}

.orphanClientSize {
  position: initial;
  background-color: #EF6D84;
  font-family: 'Hind';
}

.diff-badge-gray {
  position: initial;
  background-color: gray;
}

#orphanClient {
  min-width: 100%;
}

.num-clients {
  background-color: #58D68D;
  margin-top: 0;
}

.barber-size {
  position: inherit;
}

.client-barber-left-margin {
  display: inline-block;
  margin-left: 40px;
}

.client-barber {
  display: inline-block;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: none;
}

#hr-reduce-top-margin {
  margin-top: -28px;
}

.btn {
  padding: 4px;
  border-radius: 0;
}

.btn-primary {
  /*box-shadow: inset 0px -20px 10px #275d8c;*/
  box-shadow: 0 4px 7px gray;
  background-color: #3D7EAA;
}

.btn-danger {
	/*box-shadow: inset 0px -20px 10px #b3494b;*/
  box-shadow: 0 4px 7px gray;
}

.btn-success {
  background-color: #58D68D;
  box-shadow: 0 4px 7px gray;
  border: 1px solid #58D68D;
}

.btn-success:hover {
  background-color: #4DC680;
  border: 1px solid #4DC680;
}

#client-request {
  text-align: center;
  margin-bottom: 6px;
}

.client-dropdowns {
  display: inline-block;
}

#deleteBarberModal,
#deleteClientModal,
#orphanModal {
  top: 10%;
}

#stylist-panel-padding {
  padding: 0 60px;
}

#stylist-panel-padding input {
  margin-bottom: -7px;
}

#update-barber-btn {
  margin: 20px 0;
}

#delete-barber-btn {
  margin-bottom: 10px;
}

.modal-delete {
  box-shadow: none;
}

.modal-body {
  margin-left: 10%;
  width: 80%;
}

/*.smaller-client-header {
  font-size: 1.9em;
  line-height: 1.31em;
}*/

#client-div-height {
  height: 411px;
}

.rel-position {
  position: inherit;
  margin-top: -5px;
}

#searchBtnMarginLeft {
  margin-left: 5px;
  margin-top: 8px;
  padding: 6px 24px;
  border: 1px solid #1f2f52;
  border-radius: 4px;
  color: #1f2f52;
  box-shadow: 1px 2px 2px;
}

#searchBtnMarginLeft:hover {
  background-color: white;
  margin-top: 10px;
  box-shadow: none;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
 }

 .affix ~ .jumbotron {
   position: relative;
   top: 282px;
 }

 /*hr {
   border-bottom: 1px solid #bbb;
 }*/

#fancy-or {
  text-align: center;
  color: gray;
  margin: 10px auto -20px auto;
  width: 25px;
  background-color: #ffffff;
  position: relative;
}

.client-panel-head {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.panel-default>.panel-heading {
  color: #333;
  border-color: #ddd;
  background-color: white;
}

#panel-padding {
  padding: 10px 40px 30px;
}

#homeWellsMarginTop {
  margin-top: 5em;
}

.panel-hr {
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
  width: 60%;
}

.middle-hr {
  border-bottom: 1px solid gainsboro
}

.diff-hr {
  height: 1px;
  background: darkgray;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, darkgray));
}

#searchInput {
  margin-top: 10px;
  width: 344px;
  border: 1px solid #1f2f52;
  color: #1f2f52;
}

.search-title {
  text-align: center;
  font-family: 'Lobster'
}

.search-list {
  list-style: none;
  padding: 3px 0 3px 30px;
  font-style: italic;
}

.no-results {
  height: 120px;
}

#specific-client {
  padding: 15px 40px;
}

#specific-client p {
  font-size: 1.5em;
}

#specific-client h5,
#stylist-details h5 {
  text-transform: uppercase;
  color: gray;
  font-size: .83em;
}

#stylist-details h5:first-child {
  margin-top: 0;
}

#stylist-details p {
  font-size: 1.5em;
  display: inline;
}

#stylist-details {
  padding: 5px 30px 0 30px;
}

.footer {
  box-shadow: 0 -2px 5px darkgray;
  height: 290px;
  margin-top: 5%;
  text-align: center;
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background: #3D7EAA;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 /
  background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#footer-padding {
  padding-top: 1%;
  padding-bottom: 1%;
}
