<!DOCTYPE html>
<html>
  <head>
    <title>Freshly Faded</title>
      <!-- Tab Icon -->
    <link rel="icon" href="/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap & CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
      <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Playball|Poiret+One|Questrial|Righteous|Hind|PT+Sans:700|Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Ewert|Federant" rel="stylesheet">
      <!-- jQuery & JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="282">
    <div class="jumbotron">
      <div class="container">
        <h1>Freshly Faded</h1>
        <h3>All heads welcome</h3>
      </div>
    </div>
    <nav class="navbar navbar-default" >
      <div class="nav-wrap container-fluid box-shadow" data-spy="affix" data-offset-top="282">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          </button>
          <!-- <img src="/images/scissors.png" alt="barbershop logo" id="logo"/> -->
          <a id="clickBrandName" class="navbar-brand" href="/">Freshly<br>Faded</a>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/finneywhat" target="_blank" id="github-link">Chris's<br>GitHub</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="/search-results" method="get">
            <div class="form-group">
              <input type="text" class="form-control" id="searchInput" name="searchInput" placeholder="SEARCH barbers and clients" required>
            </div>
            <button type="submit" class="btn btn-default" id="searchBtnMarginLeft">Submit</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- begin inner template-->
    <div class="container">
      #parse( $template )
    </div>
    <!-- end inner template-->
    <div class="footer container-fluid">
      <div class="col-md-push-3 col-md-6" id="footer-padding">
        <h2 style="font-family: 'Lobster'">Chris Finney</h2>
        <p>
          Freshly Faded
        </p>
        <br>
        <p>
          Epicodus | Java Database Basics | Independent Project
        </p>
        <br>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          <em>Freshly Faded istor aanem fictitiousleosut barlebertum itshopod, buot ifit werenum realut, itpo wioulud ipbe amalotzingem.</em>
        </p>
      </div>
    </div>
  </body>
</html>
