<!-- stylist-success.vtl -->
<h3>Barber added:</h3>
<h5>$stylist.getName()</h5>
<h5>$stylist.getHireDate()</h5>
<h5>$stylist.getSalary()</h5>
<h5>$stylist.getSchedule()</h5>


<!-- stylist-success.vtl -->
