<!-- stylist-client-success.vtl -->
You've successfully added $client.getName() to $stylist.getName()'s client list.
<hr>
<br>
<h4>Client Details:</h4>
<hr>
<br>
<h5>Name - $client.getName()</h5>
<br>
<h5>Appointment date - $client.getApptDate()</h5>
<br>
<h5>Service request - $client.getCut()</h5>
<hr>
<br>
<br>
<a href="/" class="btn btn-info">Home</a>
<!-- stylist-client-success.vtl -->
