<!-- stylist-client-success.vtl -->
Barber - $stylist.getName() - has the following clients
<br>
Client Details:
Name - $client.getName()
<br>
Appointment date - $client.getApptDate()
<br>
Service request - $client.getCut()

<a href="/" class="btn btn-info">Home</a>

<!-- stylist-client-success.vtl -->
